.map[data-v-b2ea16b8]{height:100%;width:100%;position:relative}.floatDiv[data-v-b2ea16b8]{position:absolute;top:10px;left:10px;z-index:10;width:27vw}[data-v-b2ea16b8] .el-form-item__label{color:#aef}
